{% extends 'ui/base_layout.html' %}
{% import 'partials/page-title.html' as pt %}
{% set active_page = "stc_types" %}

{% block content %}
{{ pt.page_title("Structure Types", "List of all distinct structure types") }}
{{ render_all_flashes() }}

<div class="app-table-responsive mb-3">
  <table class="app-table no-expand">
    <thead>
      <tr>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      {% for mt in st_types %}
      <tr>
        <td>{{ mt[0] }}</td>
      </tr> 
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
